.weather-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.city-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.city-name {
    font-size: 40px;
    padding-bottom: 0;
    margin: 0;
}

.name-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.weather-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.weather-data-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 30px;
}

.weather-data-list {
    padding-left: 0;
    margin-right: 10px;
    list-style: none;
    height: fit-content;
}

.city-area {
    display: flex;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.country-name {
    margin: 0;
    font-size: 20px;
    color: rgb(163, 163, 163);
}

.forecast-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.forecast-icon {
    margin: 0;
}


.week-day, .forecast-temp {
    display: flex;
    justify-content: center;
    margin: 0;
}
